.flagAFG {background-position: 0px 0px;width: 16px;height: 11px;}
.flagAHO {background-position: -16px 0px;width: 16px;height: 11px;}
.flagAIA {background-position: -32px 0px;width: 16px;height: 11px;}
.flagALA {background-position: -48px 0px;width: 16px;height: 11px;}
.flagALB {background-position: -64px 0px;width: 16px;height: 11px;}
.flagALG {background-position: -80px 0px;width: 16px;height: 11px;}
.flagAND {background-position: -96px 0px;width: 16px;height: 11px;}
.flagANG {background-position: -112px 0px;width: 16px;height: 11px;}
.flagANT {background-position: -128px 0px;width: 16px;height: 11px;}
.flagARG {background-position: -144px 0px;width: 16px;height: 11px;}
.flagARM {background-position: -160px 0px;width: 16px;height: 11px;}
.flagARU {background-position: -176px 0px;width: 16px;height: 11px;}
.flagASA {background-position: -192px 0px;width: 16px;height: 11px;}
.flagATA {background-position: -208px 0px;width: 16px;height: 11px;}
.flagATF {background-position: -224px 0px;width: 16px;height: 11px;}
.flagAUS {background-position: -240px 0px;width: 16px;height: 11px;}
.flagAUT {background-position: 0px -11px;width: 16px;height: 11px;}
.flagAZE {background-position: -16px -11px;width: 16px;height: 11px;}
.flagBAH {background-position: -32px -11px;width: 16px;height: 11px;}
.flagBAN {background-position: -48px -11px;width: 16px;height: 11px;}
.flagBAR {background-position: -64px -11px;width: 16px;height: 11px;}
.flagBDI {background-position: -80px -11px;width: 16px;height: 11px;}
.flagBEL {background-position: -96px -11px;width: 16px;height: 11px;}
.flagBEN {background-position: -112px -11px;width: 16px;height: 11px;}
.flagBER {background-position: -128px -11px;width: 16px;height: 11px;}
.flagBHU {background-position: -144px -11px;width: 16px;height: 11px;}
.flagBIH {background-position: -160px -11px;width: 16px;height: 11px;}
.flagBIZ {background-position: -176px -11px;width: 16px;height: 11px;}
.flagBLM {background-position: -192px -11px;width: 16px;height: 11px;}
.flagBLR {background-position: -208px -11px;width: 16px;height: 11px;}
.flagBOL {background-position: -224px -11px;width: 16px;height: 11px;}
.flagBOT {background-position: -240px -11px;width: 16px;height: 11px;}
.flagBRA {background-position: 0px -22px;width: 16px;height: 11px;}
.flagBRN {background-position: -16px -22px;width: 16px;height: 11px;}
.flagBRU {background-position: -32px -22px;width: 16px;height: 11px;}
.flagBUL {background-position: -48px -22px;width: 16px;height: 11px;}
.flagBUR {background-position: -64px -22px;width: 16px;height: 11px;}
.flagBVT {background-position: -80px -22px;width: 16px;height: 11px;}
.flagCAF {background-position: -96px -22px;width: 16px;height: 11px;}
.flagCAM {background-position: -112px -22px;width: 16px;height: 11px;}
.flagCAN {background-position: -128px -22px;width: 16px;height: 11px;}
.flagCAY {background-position: -144px -22px;width: 16px;height: 11px;}
.flagCCK {background-position: -160px -22px;width: 16px;height: 11px;}
.flagCGO {background-position: -176px -22px;width: 16px;height: 11px;}
.flagCHA {background-position: -192px -22px;width: 16px;height: 11px;}
.flagCHI {background-position: -208px -22px;width: 16px;height: 11px;}
.flagCHN {background-position: -224px -22px;width: 16px;height: 11px;}
.flagCIV {background-position: -240px -22px;width: 16px;height: 11px;}
.flagCMR {background-position: 0px -33px;width: 16px;height: 11px;}
.flagCOD {background-position: -16px -33px;width: 16px;height: 11px;}
.flagCOK {background-position: -32px -33px;width: 16px;height: 11px;}
.flagCOL {background-position: -48px -33px;width: 16px;height: 11px;}
.flagCOM {background-position: -64px -33px;width: 16px;height: 11px;}
.flagCPV {background-position: -80px -33px;width: 16px;height: 11px;}
.flagCRC {background-position: -96px -33px;width: 16px;height: 11px;}
.flagCRO {background-position: -112px -33px;width: 16px;height: 11px;}
.flagCUB {background-position: -128px -33px;width: 16px;height: 11px;}
.flagCXR {background-position: -144px -33px;width: 16px;height: 11px;}
.flagCYP {background-position: -160px -33px;width: 16px;height: 11px;}
.flagCZE {background-position: -176px -33px;width: 16px;height: 11px;}
.flagDEN {background-position: -192px -33px;width: 16px;height: 11px;}
.flagDJI {background-position: -208px -33px;width: 16px;height: 11px;}
.flagDMA {background-position: -224px -33px;width: 16px;height: 11px;}
.flagDOM {background-position: -240px -33px;width: 16px;height: 11px;}
.flagECU {background-position: 0px -44px;width: 16px;height: 11px;}
.flagEGY {background-position: -16px -44px;width: 16px;height: 11px;}
.flagERI {background-position: -32px -44px;width: 16px;height: 11px;}
.flagESA {background-position: -48px -44px;width: 16px;height: 11px;}
.flagESH {background-position: -64px -44px;width: 16px;height: 11px;}
.flagESP {background-position: -80px -44px;width: 16px;height: 11px;}
.flagEST {background-position: -96px -44px;width: 16px;height: 11px;}
.flagETH {background-position: -112px -44px;width: 16px;height: 11px;}
.flagFIE {background-position: -128px -44px;width: 16px;height: 11px;}
.flagFIJ {background-position: -144px -44px;width: 16px;height: 11px;}
.flagFIN {background-position: -160px -44px;width: 16px;height: 11px;}
.flagFLK {background-position: -176px -44px;width: 16px;height: 11px;}
.flagFRA {background-position: -192px -44px;width: 16px;height: 11px;}
.flagFRO {background-position: -208px -44px;width: 16px;height: 11px;}
.flagFSM {background-position: -224px -44px;width: 16px;height: 11px;}
.flagGAB {background-position: -240px -44px;width: 16px;height: 11px;}
.flagGAM {background-position: 0px -55px;width: 16px;height: 11px;}
.flagGBR {background-position: -16px -55px;width: 16px;height: 11px;}
.flagGBS {background-position: -32px -55px;width: 16px;height: 11px;}
.flagGEO {background-position: -48px -55px;width: 16px;height: 11px;}
.flagGEQ {background-position: -64px -55px;width: 16px;height: 11px;}
.flagGER {background-position: -80px -55px;width: 16px;height: 11px;}
.flagGGY {background-position: -96px -55px;width: 16px;height: 11px;}
.flagGHA {background-position: -112px -55px;width: 16px;height: 11px;}
.flagGIB {background-position: -128px -55px;width: 16px;height: 11px;}
.flagGLP {background-position: -144px -55px;width: 16px;height: 11px;}
.flagGRE {background-position: -160px -55px;width: 16px;height: 11px;}
.flagGRL {background-position: -176px -55px;width: 16px;height: 11px;}
.flagGRN {background-position: -192px -55px;width: 16px;height: 11px;}
.flagGUA {background-position: -208px -55px;width: 16px;height: 11px;}
.flagGUF {background-position: -224px -55px;width: 16px;height: 11px;}
.flagGUI {background-position: -240px -55px;width: 16px;height: 11px;}
.flagGUM {background-position: 0px -66px;width: 16px;height: 11px;}
.flagGUY {background-position: -16px -66px;width: 16px;height: 11px;}
.flagHAI {background-position: -32px -66px;width: 16px;height: 11px;}
.flagHKG {background-position: -48px -66px;width: 16px;height: 11px;}
.flagHMD {background-position: -64px -66px;width: 16px;height: 11px;}
.flagHON {background-position: -80px -66px;width: 16px;height: 11px;}
.flagHUN {background-position: -96px -66px;width: 16px;height: 11px;}
.flagIMN {background-position: -112px -66px;width: 16px;height: 11px;}
.flagINA {background-position: -128px -66px;width: 16px;height: 11px;}
.flagIND {background-position: -144px -66px;width: 16px;height: 11px;}
.flagIOT {background-position: -160px -66px;width: 16px;height: 11px;}
.flagIRI {background-position: -176px -66px;width: 16px;height: 11px;}
.flagIRL {background-position: -192px -66px;width: 16px;height: 11px;}
.flagIRQ {background-position: -208px -66px;width: 16px;height: 11px;}
.flagISL {background-position: -224px -66px;width: 16px;height: 11px;}
.flagISR {background-position: -240px -66px;width: 16px;height: 11px;}
.flagISV {background-position: 0px -77px;width: 16px;height: 11px;}
.flagITA {background-position: -16px -77px;width: 16px;height: 11px;}
.flagIVB {background-position: -32px -77px;width: 16px;height: 11px;}
.flagJAM {background-position: -48px -77px;width: 16px;height: 11px;}
.flagJEY {background-position: -64px -77px;width: 16px;height: 11px;}
.flagJOR {background-position: -80px -77px;width: 16px;height: 11px;}
.flagJPN {background-position: -96px -77px;width: 16px;height: 11px;}
.flagKAZ {background-position: -112px -77px;width: 16px;height: 11px;}
.flagKEN {background-position: -128px -77px;width: 16px;height: 11px;}
.flagKGZ {background-position: -144px -77px;width: 16px;height: 11px;}
.flagKIR {background-position: -160px -77px;width: 16px;height: 11px;}
.flagKOR {background-position: -176px -77px;width: 16px;height: 11px;}
.flagKSA {background-position: -192px -77px;width: 16px;height: 11px;}
.flagKUW {background-position: -208px -77px;width: 16px;height: 11px;}
.flagLAO {background-position: -224px -77px;width: 16px;height: 11px;}
.flagLAT {background-position: -240px -77px;width: 16px;height: 11px;}
.flagLBA {background-position: 0px -88px;width: 16px;height: 11px;}
.flagLBR {background-position: -16px -88px;width: 16px;height: 11px;}
.flagLCA {background-position: -32px -88px;width: 16px;height: 11px;}
.flagLES {background-position: -48px -88px;width: 16px;height: 11px;}
.flagLBN {background-position: -64px -88px;width: 16px;height: 11px;}
.flagLIE {background-position: -80px -88px;width: 16px;height: 11px;}
.flagLTU {background-position: -96px -88px;width: 16px;height: 11px;}
.flagLUX {background-position: -112px -88px;width: 16px;height: 11px;}
.flagMAC {background-position: -128px -88px;width: 16px;height: 11px;}
.flagMAD {background-position: -144px -88px;width: 16px;height: 11px;}
.flagMAF {background-position: -160px -88px;width: 16px;height: 11px;}
.flagMAR {background-position: -176px -88px;width: 16px;height: 11px;}
.flagMAS {background-position: -192px -88px;width: 16px;height: 11px;}
.flagMAW {background-position: -208px -88px;width: 16px;height: 11px;}
.flagMDA {background-position: -224px -88px;width: 16px;height: 11px;}
.flagMDV {background-position: -240px -88px;width: 16px;height: 11px;}
.flagMEX {background-position: 0px -99px;width: 16px;height: 11px;}
.flagMGL {background-position: -16px -99px;width: 16px;height: 11px;}
.flagMHL {background-position: -32px -99px;width: 16px;height: 11px;}
.flagMKD {background-position: -48px -99px;width: 16px;height: 11px;}
.flagMLI {background-position: -64px -99px;width: 16px;height: 11px;}
.flagMLT {background-position: -80px -99px;width: 16px;height: 11px;}
.flagMNE {background-position: -96px -99px;width: 16px;height: 11px;}
.flagMNP {background-position: -112px -99px;width: 16px;height: 11px;}
.flagMON {background-position: -128px -99px;width: 16px;height: 11px;}
.flagMOZ {background-position: -144px -99px;width: 16px;height: 11px;}
.flagMRI {background-position: -160px -99px;width: 16px;height: 11px;}
.flagMSR {background-position: -176px -99px;width: 16px;height: 11px;}
.flagMTN {background-position: -192px -99px;width: 16px;height: 11px;}
.flagMTQ {background-position: -208px -99px;width: 16px;height: 11px;}
.flagMYA {background-position: -224px -99px;width: 16px;height: 11px;}
.flagMYT {background-position: -240px -99px;width: 16px;height: 11px;}
.flagNAM {background-position: 0px -110px;width: 16px;height: 11px;}
.flagNCA {background-position: -16px -110px;width: 16px;height: 11px;}
.flagNCL {background-position: -32px -110px;width: 16px;height: 11px;}
.flagNED {background-position: -48px -110px;width: 16px;height: 11px;}
.flagNEP {background-position: -64px -110px;width: 9px;height: 11px;}
.flagNFK {background-position: -80px -110px;width: 16px;height: 11px;}
.flagNGR {background-position: -96px -110px;width: 16px;height: 11px;}
.flagNIG {background-position: -112px -110px;width: 16px;height: 11px;}
.flagNIU {background-position: -128px -110px;width: 16px;height: 11px;}
.flagNOR {background-position: -144px -110px;width: 16px;height: 11px;}
.flagNRU {background-position: -160px -110px;width: 16px;height: 11px;}
.flagNZL {background-position: -176px -110px;width: 16px;height: 11px;}
.flagOMA {background-position: -192px -110px;width: 16px;height: 11px;}
.flagPAK {background-position: -208px -110px;width: 16px;height: 11px;}
.flagPAN {background-position: -224px -110px;width: 16px;height: 11px;}
.flagPAR {background-position: -240px -110px;width: 16px;height: 11px;}
.flagPCN {background-position: 0px -121px;width: 16px;height: 11px;}
.flagPER {background-position: -16px -121px;width: 16px;height: 11px;}
.flagPHI {background-position: -32px -121px;width: 16px;height: 11px;}
.flagPLE {background-position: -48px -121px;width: 16px;height: 11px;}
.flagPLW {background-position: -64px -121px;width: 16px;height: 11px;}
.flagPNG {background-position: -80px -121px;width: 16px;height: 11px;}
.flagPOL {background-position: -96px -121px;width: 16px;height: 11px;}
.flagPOR {background-position: -112px -121px;width: 16px;height: 11px;}
.flagPRK {background-position: -128px -121px;width: 16px;height: 11px;}
.flagPUR {background-position: -144px -121px;width: 16px;height: 11px;}
.flagPYF {background-position: -160px -121px;width: 16px;height: 11px;}
.flagQAT {background-position: -176px -121px;width: 16px;height: 11px;}
.flagREU {background-position: -192px -121px;width: 16px;height: 11px;}
.flagROU {background-position: -208px -121px;width: 16px;height: 11px;}
.flagRSA {background-position: -224px -121px;width: 16px;height: 11px;}
.flagRUS {background-position: -240px -121px;width: 16px;height: 11px;}
.flagRWA {background-position: 0px -132px;width: 16px;height: 11px;}
.flagSAM {background-position: -16px -132px;width: 16px;height: 11px;}
.flagSEN {background-position: -32px -132px;width: 16px;height: 11px;}
.flagSEY {background-position: -48px -132px;width: 16px;height: 11px;}
.flagSGS {background-position: -64px -132px;width: 16px;height: 11px;}
.flagSHN {background-position: -80px -132px;width: 16px;height: 11px;}
.flagSGP {background-position: -96px -132px;width: 16px;height: 11px;}
.flagSJM {background-position: -112px -132px;width: 16px;height: 11px;}
.flagSKN {background-position: -128px -132px;width: 16px;height: 11px;}
.flagSLE {background-position: -144px -132px;width: 16px;height: 11px;}
.flagSLO {background-position: -160px -132px;width: 16px;height: 11px;}
.flagSMR {background-position: -176px -132px;width: 16px;height: 11px;}
.flagSOL {background-position: -192px -132px;width: 16px;height: 11px;}
.flagSOM {background-position: -208px -132px;width: 16px;height: 11px;}
.flagSPM {background-position: -224px -132px;width: 16px;height: 11px;}
.flagSRB {background-position: -240px -132px;width: 16px;height: 11px;}
.flagSRI {background-position: 0px -143px;width: 16px;height: 11px;}
.flagSSD {background-position: -16px -143px;width: 16px;height: 11px;}
.flagSTP {background-position: -32px -143px;width: 16px;height: 11px;}
.flagSUD {background-position: -48px -143px;width: 16px;height: 11px;}
.flagSUI {background-position: -64px -143px;width: 11px;height: 11px;}
.flagSUR {background-position: -80px -143px;width: 16px;height: 11px;}
.flagSVK {background-position: -96px -143px;width: 16px;height: 11px;}
.flagSWE {background-position: -112px -143px;width: 16px;height: 11px;}
.flagSWZ {background-position: -128px -143px;width: 16px;height: 11px;}
.flagSYR {background-position: -144px -143px;width: 16px;height: 11px;}
.flagTAN {background-position: -160px -143px;width: 16px;height: 11px;}
.flagTCA {background-position: -176px -143px;width: 16px;height: 11px;}
.flagTGA {background-position: -192px -143px;width: 16px;height: 11px;}
.flagTHA {background-position: -208px -143px;width: 16px;height: 11px;}
.flagTJK {background-position: -224px -143px;width: 16px;height: 11px;}
.flagTKL {background-position: -240px -143px;width: 16px;height: 11px;}
.flagTKM {background-position: 0px -154px;width: 16px;height: 11px;}
.flagTLS {background-position: -16px -154px;width: 16px;height: 11px;}
.flagTOG {background-position: -32px -154px;width: 16px;height: 11px;}
.flagTPE {background-position: -48px -154px;width: 16px;height: 11px;}
.flagTTO {background-position: -64px -154px;width: 16px;height: 11px;}
.flagTUN {background-position: -80px -154px;width: 16px;height: 11px;}
.flagTUR {background-position: -96px -154px;width: 16px;height: 11px;}
.flagTUV {background-position: -112px -154px;width: 16px;height: 11px;}
.flagUAE {background-position: -128px -154px;width: 16px;height: 11px;}
.flagUGA {background-position: -144px -154px;width: 16px;height: 11px;}
.flagUKR {background-position: -160px -154px;width: 16px;height: 11px;}
.flagUMI {background-position: -176px -154px;width: 16px;height: 11px;}
.flagURU {background-position: -192px -154px;width: 16px;height: 11px;}
.flagUSA {background-position: -208px -154px;width: 16px;height: 11px;}
.flagUZB {background-position: -224px -154px;width: 16px;height: 11px;}
.flagVAN {background-position: -240px -154px;width: 16px;height: 11px;}
.flagVAT {background-position: 0px -165px;width: 16px;height: 11px;}
.flagVEN {background-position: -16px -165px;width: 16px;height: 11px;}
.flagVIE {background-position: -32px -165px;width: 16px;height: 11px;}
.flagVIN {background-position: -48px -165px;width: 16px;height: 11px;}
.flagWLF {background-position: -64px -165px;width: 16px;height: 11px;}
.flagYEM {background-position: -80px -165px;width: 16px;height: 11px;}
.flagZAM {background-position: -96px -165px;width: 16px;height: 11px;}
.flagZIM {background-position: -112px -165px;width: 16px;height: 11px;}
.flagENG {background-position: -128px -165px;width: 16px;height: 11px;}
.flagNIR {background-position: -144px -165px;width: 16px;height: 11px;}
.flagSCO {background-position: -160px -165px;width: 16px;height: 11px;}
.flagWAL {background-position: -176px -165px;width: 16px;height: 11px;}
